<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Data Visualization</title>
</head>
  <body>
  <div class="topnav">
  <a href="/home">Home</a>
  <a href="/data-vis">Data Visualization</a>
  <a href="/about">About</a>
  <a href="/">Log Out</a>
</div>

<h2>National Healthcare Providers</h2>
  
<p>At National Healthcare Providers, we strive to treat as many people<br>
   as we can. Diabetes can be devastating, and if we can catch it soon,<br>
   our patients will have the best possible treatment. This tool is<br>
   designed to identify those who are at risk of being diabetic (1 | Yes), and it<br>
   serves to give a bit of peace to those who might have concern but<br>
   don't actually need additional lab testing (0 | No). </p>
</div>

</body>
</html>